<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post on Detail</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.user {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    margin: 0;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    animation: slideIn 1s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

    </style>
</head>
<body>
    <h2>Here is your Post details</h2>
    <p>Post Id: <%= post.id %></p>
    <div class="post">
        <h3 class="user">@<%= post.username%></h3>
        <h4 class="content"><%= post.content%></h4>
    </div>  
</body>
</html>